/* styles.css */
* {
  background-color: azure;
}

h1 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "DM Sans", sans-serif;
}

h2 {
  font-family: "Inter", sans-serif;
}

li {
  font-family: "DM Sans", sans-serif;
}
